.btn{
    display: block;
    font-size: 14px;
    font-weight: 400;
    margin-top: 18px;
    margin-left: auto;
    margin-right: auto;
    letter-spacing: 1px;
}

.example-card {
    padding: 5px 16px 16px;
    max-width: 400px;
    margin: 50px auto;
    background: #f3f3f2;
}
.custom-btn1{
    margin-bottom: 24px;
    margin-top: 20px;
    padding: 2px 30px 2px 30px;
    background: #3189d6;
    color: #fff;
    border-radius: 7px;
}
a{
    text-decoration: none;
    color: rgb(42, 125, 219);
}

.card {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    .card-header {
        border-bottom: 0;
        padding: 0px;
        background-color: transparent;
        .card-title {
            margin-bottom: 0;
            font-size: 1rem;
        }
        a {
            text-decoration: none !important;
        }
    }
    .card-body {
        padding: 10px;
    }
}

.card {
    max-width: 400px;
    min-width: 400px;
    margin: auto;
}

.true-font {
    text-shadow: 0px 1px 3px #b1abab;
    font-family: 'Graphik';
    font-size: 54px;
    color: #3189D6;
    line-height: .6;
}
  
.qualify-font {
    font-family: 'Satisfy';
    font-size: 20px;
    color: rgb(95, 95, 95);
}

.input-group-text {
    border-radius: 0px 7px 7px 0px !important;
}
.form-control {
    border-radius: 7px;
    padding: 18px 21px 18px 18px;
    color: #5f5f5f;
}