<div class="container-fluid" style="max-width: 1200px; margin-top: 40px;">
    <mat-card class="example-card mat-elevation-z4">
        <mat-card-header style="display: unset;">
            <div class="row justify-content-center">
                <div class="col-4 pr-1" style="min-height:130px;">
                    <div class="d-flex justify-content-center pt-4 pb-2">
                        <div>
                            <span class="d-flex justify-content-end"
                                style="font-size: 20px; color: #313131; margin-right: -15px; margin-bottom: -18px;">&trade;</span>
                            <p><span class="true-font">true</span></p>
                            <p style="margin-top: -13px !important; align-items: flex-end; margin-right: -15px;"
                                class="qualify-font d-flex justify-content-end">qualify</p>
                        </div>
                    </div>
                </div>
            </div>
        </mat-card-header>
        <p class="text-center" style="margin-top: 0px;color: #5f5f5f; margin-bottom: 16px;"> RESET PASSWORD</p>
        <mat-card-content >
            <form [formGroup]="valForm" class="form-validate mb-3" role="form" name="loginForm" novalidate=""
                (submit)="submitForm($event, valForm.value)">
                <div class="form-group">
                    <div class="input-group with-focus">
                        <input class="form-control border-right-0" id="exampleInputEmail1" type="email" name="email"
                            placeholder="Enter email" autocomplete="off" formControlName="email" required="" />
                        <div class="input-group-append">
                            <span class="input-group-text text-muted bg-transparent border-left-0">
                                <mat-icon>email_outline</mat-icon>
                            </span>
                        </div>
                    </div>
                    <div class="text-danger"
                        *ngIf="valForm.controls['email'].hasError('required') && (valForm.controls['email'].dirty || valForm.controls['email'].touched)">
                        This field is required</div>
                    <div class="text-danger"
                        *ngIf="valForm.controls['email'].hasError('email') && (valForm.controls['email'].dirty || valForm.controls['email'].touched)">
                        This field must be a valid email address</div>
                </div>
                <div *ngIf="message" style="color:#4d994b">
                    {{message}}
                </div>
                <button class="btn custom-btn1" mat-button type="submit">
                    <span *ngIf="spinner" class="spinner-border spinner-border-sm"></span>&nbsp;
                    Submit</button>
            </form>
        </mat-card-content>
    </mat-card>
</div>