<div class="wrapper" style="margin-top:6pc;">
  <div class="block-center mt-7 wd-xxl">
    <div class="card card-flat">
      <div class="card-header text-center" style="margin-top: 1pc">
        <div class="d-flex justify-content-center">
          <a>
            <span class="d-flex justify-content-end"
              style="font-size: 20px; color: rgb(148, 148, 148); margin-right: -15px; margin-bottom: -18px;">&trade;</span>
            <p><span class="true-font">true</span></p>
            <p style="margin-top: -20px !important; align-items: flex-end; margin-right: -15px;"
              class="qualify-font d-flex justify-content-end">qualify</p>
          </a>
        </div>
      </div>
      <div class="card-body" *ngIf="message">
        <p>{{message}}</p><br>
        <div style="text-align: center;">
          <button mat-raised-button class="btn custom-btn1" routerLink="/login">Login</button>
        </div>
      </div>
    </div>
  </div>
</div>