<div class="container" style="max-width: 1200px;">
    
        <div style="margin-top: 123px;">
            <!-- START card-->
            <mat-card class="mat-elevation-z16 wow fadeInDown" style="max-width: 590px; margin-left: auto; margin-right: auto; border-radius: 23px;">
    
                <div style="margin-top: 1pc" class="d-flex justify-content-center">
                    <a href="#" style="margin-left: -35px;">
                        <p style="margin-top: 5px; margin-left: 35px; font-family: AlfaSlabOne; letter-spacing: 1px; text-transform: uppercase" class="hr-font">
                            Administration</p>
                        <!-- <p style="margin-top: -70px !important; margin-left: -120px;" class="qualify-font">smart</p> -->
                        <!-- <p style="margin-top: -50px; margin-left:110px; font-size: 20px; color: #313131 !important;">&trade;
                        </p> -->
                    </a>
    
                </div>
                <br>
                        <div class="mx-4 mt-4" style="overflow: hidden;">
                            <form [formGroup]="valForm" class="form-validate mb-3" role="form" name="loginForm" novalidate=""
                                (submit)="loginHr($event, valForm.value)">
                                <div class="form-group">
                                    <div class="input-group with-focus">
                                        <input class="form-control border-right-0" id="exampleInputEmail1" type="email" name="email"
                                            placeholder="Enter email" autocomplete="off" formControlName="email" required="" />
                                        <div class="input-group-append input-group-append-radius">
                                            <span class="input-group-text text-muted bg-transparent border-left-0">
                                                <mat-icon>email_outline</mat-icon>
                                            </span>
                                        </div>
                                    </div>
                                    <mat-error class="mat-error-cs"
                                        *ngIf="valForm.controls['email'].hasError('required') && (valForm.controls['email'].dirty || valForm.controls['email'].touched)">
                                        email is required
                                    </mat-error>
                                    <mat-error class="mat-error-cs"
                                        *ngIf="valForm.controls['email'].hasError('email') && (valForm.controls['email'].dirty || valForm.controls['email'].touched)">
                                        this field must be a valid email address
                                    </mat-error>
                                </div>
                                <div class="form-group">
                                    <div class="input-group with-focus">
                                        <input class="form-control border-right-0" id="exampleInputPassword1" type="password"
                                            name="password" placeholder="Password" formControlName="password" required />
                                        <div class="input-group-append">
                                            <span class="input-group-text text-muted bg-transparent border-left-0">
                                                <mat-icon>lock_outline</mat-icon>
                                            </span>
                                        </div>
                                    </div>
                                    <mat-error class="mat-error-cs"
                                        *ngIf="valForm.controls['password'].hasError('required') && (valForm.controls['password'].dirty || valForm.controls['password'].touched)">
                                        password is required
                                    </mat-error>
                                </div>
            
                                <div align="center">
                                    <button mat-raised-button class="btn custom-btn" type="submit" >
                                        <mat-icon>input</mat-icon> login
                                    </button>
                                </div>
                            </form>
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <a [routerLink]="'/forgot/password'">forgot password</a>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <p class="text-right"><a [routerLink]="'/register'"> register now</a></p>
                                </div>
                            </div>
            
                        </div>    
               
            </mat-card>
           
        </div>
    </div>
    