<html>

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>

<body class="jumbotron">
    <p style="text-align: center;font-size: 20px;color: green;">Django REST Framework</p><br>
    <p style="text-align: center;font-size: 20px;color: green;">Token Authentication using Django REST Framework</p><br>
    <p style="text-align: center;font-size: 20px;color: green;">JWT Authentication using Django REST Framework</p><br>
    <p style="text-align: center;font-size: 20px;color: green;">Django CRUD Operation</p><br>
    <p style="text-align: center;font-size: 20px;color: green;">How to prepare a Resume</p>




</body>

</html>