.true-font {
  font-family: 'Graphik';
  font-size: 45px;
  color: #3189D6;
  line-height: .6;
  text-shadow: 0px 1px 3px #b1abab;
}

.qualify-font {
    font-family: 'Satisfy';
    font-size: 20px;
    color: rgb(148, 148, 148);
}

.block-font {
    font-size: 14px;
    color: rgb(148, 148, 148);
}

.menu-spacer{
  flex: 2 2 auto;
}
.header-btn{
width: 120px;
}
// .badge{
//   background-color: #1352A2;
//   color: white;
//   margin-top: -2.5px;
// }

/* Button used to open the chat form - fixed at the bottom of the page */
.open-button {
  background-color: #555;
  color: white;
  padding: 10px 14px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

/* The popup chat - hidden by default */
.chat-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width textarea */
.form-container textarea {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  resize: none;
  min-height: 200px;
}

/* When the textarea gets focus, do something */
.form-container textarea:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/send button */
.form-container .btn {
  background-color: #5BB12F;
  color: white;
  padding: 10px 14px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: #E94C6F;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

.dropdown-cu {
  // position: relative;
  display: inline-block;
}

.dropdown-content-cu {
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 300px;
  // overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  text-align: center;
  padding: 15px;
}

mat-form-field {
  width: 200px;
  font-size: 14px;
}
::ng-deep .mat-badge-medium .mat-badge-content {
  width: 19px !important;
  height: 19px !important;
  font-size: 10px !important;
  line-height: 19px !important;
}
