 ::ng-deep .mat-ink-bar {
  height: 1.5px !important;
  background-color: rgb(128, 223, 148) !important;
}

::ng-deep .mat-tab-label {
  font-size: 13px;
  color: rgb(145, 72, 24);
  font-weight: 600;
}
