table {
  width: 100%;
  background-color: #fafafa;;
  color: aqua;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 50%;
  color: black;
  text-align: center;
  justify-content: center;
   justify-items: center;
}
h2{
  text-align: center;
}

.crd-font{
  font-family: SourceSansPro-Regular,sans-serif;
  font-size: 15px;
  text-transform: capitalize;
  color: #607d8b;
  font-weight: 800;
  margin-top: 40px !important;


}
