<div class="container vh-100">
  <p class="text-center crd-font">Trainer Approval</p>
  <mat-tab-group animationDuration="200" class="mat-elevation-z1" style="padding: 15px;">

    <mat-tab label='Requests' >

      <mat-form-field class="mt-2" style="width: 40%;">
        <input matInput placeholder="Search.." >
      </mat-form-field>
      <table
      mat-table
      [dataSource]="trainerAccessData"
      matSort
      class="table  table-hover mat-elevation-z2 mt-1 "
      multiTemplateDataRows>
      <ng-container matColumnDef="faculty_name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
          <td mat-cell *matCellDef="let element">{{ element.name }}</td>
        </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
        <td mat-cell *matCellDef="let element">{{ element.email }}</td>
      </ng-container>
      <ng-container matColumnDef="request_date">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Requested_on</th>
          <td mat-cell *matCellDef="let element">{{ element.registered_date| date:'mediumDate' }}</td>
        </ng-container>

      <ng-container matColumnDef="btn"  >
        <th mat-header-cell *matHeaderCellDef > </th>
        <td mat-cell *matCellDef="let element" class="approve-btn">
          <button mat-raised-button style="background-color: #5BB12F;color: white; " (click)='sweetApprove(element._id)' matTooltip="Click to approve">
            <mat-icon style="color: white;font-size: 17px;margin-top: 6px !important;">verified_user</mat-icon>
            Approve
          </button> &nbsp;&nbsp;
          <button mat-raised-button style="background-color: #E94C6F;color: white;" (click)='sweetCancel(element._id)' matTooltip="Click to reject">
            <mat-icon style="color: white;font-size: 17px;margin-top: 6px !important;">cancel</mat-icon>

            Reject
          </button> &nbsp;&nbsp;

        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="trainerCols"></tr>
      <tr mat-row *matRowDef="let row; columns: trainerCols;"></tr>
       </table>

    <mat-paginator
      [pageSizeOptions]="[5, 10, 50]"
      showFirstLastButtons
    ></mat-paginator>
    </mat-tab>
    <mat-tab label='Approved'>
      <mat-form-field class="mt-2" style="width: 40%;">
        <input matInput placeholder="Search.." >
      </mat-form-field>
      <table
      mat-table
      [dataSource]="trainerApprovedData"
      matSort
      class="table  table-hover mat-elevation-z2 mt-1"
      multiTemplateDataRows
    >
      <ng-container matColumnDef="faculty_name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
          <td mat-cell *matCellDef="let element">{{ element.name }}</td>
        </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
        <td mat-cell *matCellDef="let element">{{ element.email }}</td>
      </ng-container>
      <ng-container matColumnDef="request_date">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Requested_on</th>
          <td mat-cell *matCellDef="let element">{{ element.registered_date| date:'mediumDate'  }}</td>
        </ng-container>
        <ng-container matColumnDef="approved_date">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Approved_on</th>
          <td mat-cell *matCellDef="let element">{{ element.approved_date | date:'mediumDate' }}</td>
        </ng-container>

      <ng-container matColumnDef="btn"  >
        <th mat-header-cell *matHeaderCellDef > </th>
        <td mat-cell *matCellDef="let element" >

          <button mat-raised-button style="background-color: #E94C6F;color: white;" (click)='sweetCancel(element._id)' matTooltip="Click to Revoke" >
            <mat-icon style="color: white;font-size: 17px;margin-top: 6px !important;">cancel</mat-icon>

            Revoke
          </button> &nbsp;&nbsp;

        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="trainerApprovedCols"></tr>
      <tr mat-row *matRowDef="let row; columns: trainerApprovedCols;"></tr></table>

    <mat-paginator
      [pageSizeOptions]="[5, 10, 50]"
      showFirstLastButtons
    ></mat-paginator>
    </mat-tab>

  </mat-tab-group>

</div>
